// placeholder
%blue-hover {
	color: $jet;
	transition: color .3s ease-in;

	&:hover {
		color: $primary-color;
	}
}

%button-search {
	border-radius: 0 10px 10px 0;
	color: $jet;
	display: inline-block;
	font-size: 18px;
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
}

%tomato-hover {
	transition: background-color .3s;

	&:hover {
		background-color: tomato;
		color: $white;
	}
}

%button-border-hover  {
	transition: all .3s ease-in;

	&:hover {
		border-color: $primary-color;
		color: $primary-color;
	}
}

%button-border-black {
	background-color: transparent;
	border: 1px solid $steel;
	color: $steel;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.63em 2.19em;
	margin: 0;
}

%link-hover-blue {
	transition: all .3s ease-in;

	&:hover,
	&:focus {
		color: $primary-color;
	}
}

// Placeholder function
@mixin placeholder {
	&::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}

// Clearfix
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

%clearfix {
	&:after {
		content:"";
	  display:table;
	  clear:both;
	}
}

.padding-big {
	padding: 5.25em 0 2.5em;
}

// Plygon BG
.polygon-bg {
	background-color: $smoke;
	background-image: url(../images/polygon-1.png), 
										url(../images/polygon-2.png), 
										url(../images/polygon-3.png), 
										url(../images/polygon-4.png);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: left top, right top, right bottom, left bottom;
}


// Breadcrumb
.breadcrumb {
	background-color: $iron2;
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;

	.bc {
		margin: 0;

		.bc__item {
			color: $steel;
			display: inline-block;
			font-size: 1.5rem;
			padding: 0.92em 0;

			&:after {
				font-family: 'FontAwesome';
				content: '\f0da';
				padding: 0 10px;
			}

			&:last-child:after {
				visibility: hidden;
			}

			a {
				font-size: 1.5rem;
			}
		}
	}
}

// Pagination
.paginate {
	text-align: center;
	margin-top: 1.88em;

	> span,
	> a {
		background-color: $white;
		display: inline-block;
		padding: 5px 10px;
		color: $jet;
		transition: all .3s ease-in;

		&.current {
			background-color: $jet;
			color: $white;
		}

		&:hover {
			background-color: $primary-color;
			color: $white;
		}
	}
}
