.contact-us {
	padding: 4.38em 0 3.75em;

	h1,
	h2,
	h3,
	h4 {
		color: $steel;
		font-size: 2.25rem;
		text-align: center;
		margin-bottom: 0.87em;
	}
}

.contact-form {

	@media only screen and (min-width: 64.063em) {
		width: 80%;
		margin: 0 auto;
	}

	.columns {
		position: relative;
		
		i.fa {
			position: absolute;
			right: 1.13em;
			top: 0.46em;
			font-size: 1.5rem;

			@media only screen and (max-width: 46.125rem) {
				font-size: 1.125rem;
			}
		}
	}

	.contact-form__field {
		background-color: $smoke;
		border: 0.17em solid $smoke;
		border-radius: 0.42em;
		box-shadow: none;
		font-size: 1.5rem;
		padding: 0.21em 1.67em 0.21em 0.63em;
		height: auto;
		position: relative;

		@include placeholder {
			color: $jet;
			font-weight: 300;
			font-style: italic;
		}

		&:hover,
		&:focus {
			background-color: $white;
			border-color: $smoke;
		}

		&--textarea {
			height: 7.5em;
		}

		@media only screen and (max-width: 46.125rem) {
			font-size: 1.125rem;
		}
	}

	.button {
		border: 3px solid $primary-color;
		border-radius: 5px;
		background-color: transparent;
		text-transform: uppercase;
		color: $primary-color;
		font-weight: 700;
		margin-top: 1.88em;

		&:hover {
			background-color: $primary-color;
			color: $white;
		}
	}
}

.address-list {

	li {
		background-color: $smoke;
		background-image: url(../images/polygon-4.png), url(../images/polygon-2.png);
		background-repeat: no-repeat, no-repeat;
		background-position: -162px 240px, right top;
		padding: 3.13em 0;

		&:nth-child(even) {
			background: none;

			.branch-address__name {
				background-color: $smoke;
				border-radius: 5px;
			}

			.branch-address__detail .social {
				background-color: $jet;
				color: $white;
				transition: all .3s ease-in;

				&:hover {
					background-color: $primary-color;
					color: $white;
				}
			}

			@media only screen and (min-width: 40.063em) {
				.columns:first-child {
					float: right;
				}
			}
		}
	}
}

.branch-address {
	color: $steel;
	padding: 0 15px;

	.branch-address__name,
	.branch-address__detail {
		font-style: italic;
	}

	.branch-address__name {
		color: $steel;
		font-size: 2.25rem;
		text-align: center;
		margin: 0 0 .5em;
	}

	.branch-address__detail {
		font-weight: 300;
		font-size: 1.125rem;

		span {
			display: inline-block;
			font-size: 1.5rem;
			width: 24%;
			text-align: right;
			margin-right: 7%;
		}

		a {
			color: $steel;
			transition: color .3s ease-in;

			&:hover {
				color: $primary-color;
			}
		}

		.social {
			background-color: $white;
			display: inline-block;
			padding: 5px 0;
			margin-right: 3%;
			width: 36px;
			text-align: center;
			transition: all .3s ease-in;

			&:hover {
				background-color: $primary-color;
				color: $white;
			}
		}
	}
}

#branch-map-1,
#branch-map-2,
#branch-map-3 {
	background-color: $jet;
	height: 300px;
	width: 100%;
}