.top-header {
	padding: 10px 0;

	.socials-list {
		margin: 0;

		> li {
			margin-left: 0;
			margin-right: 20px;
			line-height: 1em;
		}
		
		a {
			font-size: 24px;
			@extend %blue-hover;
		}
	}
}

.lang-and-search {

	.search-form {
		float: left;
		width: 60%;
		position: relative;
		overflow: hidden;

		&.is-visible {

			input {
				visibility: visible;
				width: 100%;
			}

			button {
				background-color: $jet;
				color: $white;
			}

			.search-form__icon {
				visibility: hidden;
			}
		}

		input {
			background-color: #f0f2f3;
			border: none;
			border-radius: 10px;
			box-shadow: none;
			color: $jet;
			height: 30px;
			float: right;
			margin: 0;
			visibility: hidden;
			width: 0%;
			transition: all .3s ease-in;

			@include placeholder {
				color: $jet;
				font-style: italic;
				font-size: 14px;
				font-weight: 300;
			}
		}

		button {
			padding: 4px 10px;
			@extend %button-search;

			transition: all .3s ease-in;
		}

		.search-form__icon {
			cursor: pointer;
			padding: 1px 10px;
			@extend %button-search;

				&:focus, 
				&:hover {
					color: $primary-color;
				}
		}
	}

	.language-list {
		padding-top: 7px;
		margin: 0;

		li {
			border-right: 1px solid $jet;
			padding-right: 10px;
			margin-left: 0;
			margin-right: 9px;
			line-height: 1em;

			&:last-child {
				margin-right: 0;
				padding-right: 0;
				border: none;
			}
		}

		a {
			font-size: 14px;
			@extend %blue-hover;
		}
	}
}

// Navigation
.site-navigation {
	box-shadow: 0 -2px 4px 0 rgba($jet, .2);
	padding: 10px;
}

.top-bar-section ul li {
	background-color: transparent;
}

.top-bar {
	height: auto;

	.name {
		height: auto;
	}
}

.top-bar-section ul li > a.button--apply {
	border-radius: 5px;
	height: auto;
	text-transform: uppercase;
	padding: 10px 30px;
	margin-top: -7px;
	
	@extend %tomato-hover;
}

@media only screen and (min-width: 40.0625em) {
	.top-bar-section {
		margin-top: 15px;
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 2.06em 0 0;
	}
}

