.join-us {
	padding: 70px 0 80px;
}

.infographic {
	text-align: center;
	
	h1,
	h2, 
	h3, 
	h4 {
		color: $steel;
		font-size: 2.25rem;
		font-weight: 300;
		margin: 0 0 0.56em;
	}

	p {
		margin: 0 0 0.8em;
	}

	.infographic-tab {
		list-style: none;
		margin: 0;

		li {
			display: inline-block;
			margin-right: 7.81em;
			border-bottom: 5px solid $jet;

			@media only screen and (max-width: 32.875rem) {
				display: block;
				margin-right: 0;
				margin-bottom: 20px;
				text-align: center;
				border: none;
			}

			&:last-child {
				margin-right: 0;
			}

			&.active {
				border-color: $primary-color;

				@media only screen and (max-width: 32.875rem) {
					a {
						color: $primary-color;
						font-weight: bold;
					}
				}
			}

			a {
				color: $steel;
				display: block;
				font-size: 1.875rem; 
				font-weight: 300;
				padding: 0 2.5em 1em;

				@media only screen and (max-width: 56.25rem) {
					font-size: 1.5rem;
				}

				@media only screen and (max-width: 46.25rem) {
					padding: 0 0 0.5em;
				}

				@media only screen and (max-width: 32.875rem) {
					display: inline;
				}
			}
		}
	}

	.tabs-content {

		.content {
			padding-top: 2.5em;
		}
	}

	a.button--black {
		@extend %button-border-black;
		@extend %button-border-hover;
	}
}